<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwitterRecap</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="home.css") }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center">
        <h1>Twitter Replay</h1>
        {% include "search.html" %}
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function search(){
        $.get("/validate_and_view/", data=$("#search-box").val())
    }
</script>
</html>