<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Replaying Twitch VOD</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="recap_page.css") }}">
</head>
<body>
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- header  -->
    <ul id="navbar">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li>{% include "search.html" %}</li>
    </ul>
    <!-- left panel to include the twitch side-->
    <div id="twitch-side">
        <div id="stream-title" class="stream-data">{{ vod.title }}</div>
        <div id="player"></div>
        <div id="streamer-name" class="stream-data">{{ vod.user_name }}</div>
    </div>
    <!-- right panel to include twitter data-->
    <div id="twitter-side">
        <ul id="trends-box">

        </ul>
    </div>
    <script type="text/javascript">
        var options = {
            width: "100%",
            height: "100%",
            video: "{{ vod.id }}"
        };
        var player = new Twitch.Player("player", options);
        player.setVolume(0.5);
        var intervalId = window.setInterval(function(){
            //$("#timestamp").html("timestamp: " + player.getCurrentTime())
        }, 500);

        $.get("/trends/",
            {"start_time": {{ vod.start_time.timestamp() }}, "end_time": {{ vod.end_time.timestamp() }}, "user_name": "{{ vod.user_name }}" },
        function(data){
            $("#trends-box").html(data)
        })

        function jumpto(timestamp){
            seconds = timestamp - {{ vod.start_time.timestamp() }};
            console.log("seeking to " + seconds)
            player.seek(seconds);
        }
    </script>
</body>
</html>